body {
  margin: 0;
  padding: 0;
}
.head {
  height: 60px;
  padding: 10px 20px;
  background: #101010;
}
.head h4 {
  color: #9d9d9d;
}
.main {
  position: absolute;
  top: 60px;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  margin: 0;
}
#left {
  background: #84acb3;
  height: 100%;
  width: 220px;
  position: absolute;
  left: 0;
  top: 0;
}
#left .pos_box {
  position: relative;
  left: 60px;
  top: 0;
}
#left .pos_box div {
  width: 100px;
  height: 60px;
  line-height: 48px;
  margin: 0;
  margin-top: 20px;
  box-sizing: border-box;
}
#center {
  height: 100%;
  margin-left: 220px;
  top: 0;
  border: 1px solid #ccc;
  margin-right: 220px;
  position: relative;
  overflow: hidden;
}
#center .process {
  position: absolute;
  width: 100px;
  height: 100px;
  background: #ccc;
}
#right {
  height: 100%;
  position: absolute;
  right: 0px;
  top: 0;
  width: 220px;
}
