body { 
    margin: 0; padding: 0; background: #f3f3f3;
}

.head {
    height: 60px; padding: 10px 20px; background: #1ab394;
    h4 { color: #fff;}
}

.main {
    position: absolute; top: 60px; bottom: 0; left: 0; right: 0; width: 100%;
     margin: 0;
}
#left {
    background: #2f4050; height:100%; width: 180px; position: absolute; left: 0; top: 0;
    .pos_box{
        position: relative; left: 10px; top: 0;
        div {
            width: 100px; height: 60px; line-height: 48px; margin: 0; margin-top: 20px;
             box-sizing: border-box;
        }
    }
    .start {}
}
#center {
    height:100%;  margin-left: 180px; top: 0; border-right: 1px solid #ccc; margin-right: 320px;
    position: relative; overflow: hidden;
    .process{ 
        position: absolute;
        width: 100px; height: 60px; background: #ccc;
    }
    .start {
        background: #337ab7; color: #fff;
    }
}
#right{
    height:100%; position: absolute; right: 0px; top: 0; width: 320px;
}


// 连接线文字样式
.line_text{ color: red;}

// 右键菜单
#centextMenu{
    border:1px solid rgba(0,0,0,.15); position: absolute; z-index: 99999;
    background: #fff;
    a{
        padding: 4px 10px; text-decoration: none;
        display: block; height: 30px; font-size: 14px; color: #545454;
    }
    a:hover {background: #e8e8e8}
}